In [1]:
import pandas as pd
from datetime import datetime

In [72]:
file = ['bitcoin', 'dow', 'euro_stoxx50', 'nasdaq', 'nikkei', 'oro', 'petroleo', 'shangai_stock_exchange', 'sp_500']
data = []
for i in file:
    data.append(pd.read_csv('./data/' + i + '.csv'))

In [36]:
for i in data:
    print(i.info(), '\n \n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2193 entries, 0 to 2192
Data columns (total 7 columns):
Fecha       2193 non-null object
Cierre      2193 non-null object
Apertura    2193 non-null object
Máximo      2193 non-null object
Mínimo      2193 non-null object
Vol.        2193 non-null object
% var.      2193 non-null object
dtypes: object(7)
memory usage: 120.0+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 7 columns):
Fecha       1125 non-null object
Cierre      1125 non-null float64
Apertura    1125 non-null float64
Máximo      1125 non-null float64
Mínimo      1125 non-null float64
Vol.        1125 non-null object
% var.      1125 non-null object
dtypes: float64(4), object(3)
memory usage: 61.6+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1539 entries, 0 to 1538
Data columns (total 7 columns):
Fecha       1539 non-null object
Cierre      1539 non-null object
Apertura    1539 non-null object
Máximo      1539 non-null object
Mínimo      1539 non-null object
Vol.        1539 non-null object
% var.      1539 non-null object
dtypes: object(7)
memory usage: 84.2+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 7 columns):
Fecha       1512 non-null object
Cierre      1512 non-null float64
Apertura    1512 non-null float64
Máximo      1512 non-null float64
Mínimo      1512 non-null float64
Vol.        1512 non-null object
% var.      1512 non-null object
dtypes: float64(4), object(3)
memory usage: 82.8+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1494 entries, 0 to 1493
Data columns (total 7 columns):
Fecha       1494 non-null object
Cierre      1494 non-null object
Apertura    1494 non-null object
Máximo      1494 non-null object
Mínimo      1494 non-null object
Vol.        1494 non-null object
% var.      1494 non-null object
dtypes: object(7)
memory usage: 81.8+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1588 entries, 0 to 1587
Data columns (total 7 columns):
Fecha       1588 non-null object
Cierre      1588 non-null object
Apertura    1588 non-null object
Máximo      1588 non-null object
Mínimo      1588 non-null object
Vol.        1588 non-null object
% var.      1588 non-null object
dtypes: object(7)
memory usage: 86.9+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1583 entries, 0 to 1582
Data columns (total 7 columns):
Fecha       1583 non-null object
Cierre      1583 non-null float64
Apertura    1583 non-null float64
Máximo      1583 non-null float64
Mínimo      1583 non-null float64
Vol.        1583 non-null object
% var.      1583 non-null object
dtypes: float64(4), object(3)
memory usage: 86.6+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1434 entries, 0 to 1433
Data columns (total 7 columns):
Fecha       1434 non-null object
Cierre      1434 non-null float64
Apertura    1434 non-null float64
Máximo      1434 non-null float64
Mínimo      1434 non-null float64
Vol.        1434 non-null object
% var.      1434 non-null object
dtypes: float64(4), object(3)
memory usage: 78.5+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511 entries, 0 to 1510
Data columns (total 7 columns):
Fecha       1511 non-null object
Cierre      1511 non-null object
Apertura    1511 non-null object
Máximo      1511 non-null object
Mínimo      1511 non-null object
Vol.        1511 non-null object
% var.      1511 non-null object
dtypes: object(7)
memory usage: 82.7+ KB
None

In [70]:
def price(data):
    try:
        amount = [float(i.replace(',','')) for i in data.Cierre]
        df = pd.DataFrame({'date': pd.to_datetime(data.Fecha),
                      'amount': amount})
    except:
        df = pd.DataFrame({'date':pd.to_datetime(data.Fecha),
                      'amount': data.Cierre.astype('float')})
    return df

def variance(data):
    var = [float(i.replace('%','')) for i in data.iloc[:,6]]
    df = pd.DataFrame({'date': pd.to_datetime(data.Fecha),
                      'var': var})
    return df

def generate_df(l, names):
    inner = pd.merge(amount[0], amount[1], how ='inner', on = 'date', left_on = None, right_on = None,
         left_index = True, right_index = True, sort = True)
    for i in range(2, len(l)):
        inner = pd.merge(inner, amount[i], how ='inner', on = 'date', left_on = None, right_on = None,
                 left_index = True, right_index = True, sort = True)
    inner = pd.DataFrame(inner)
    inner.columns = names.insert(0, 'date')
    return inner

In [73]:
type(generate_df(amount, file).columns)

TypeError: Index(...) must be called with a collection of some kind, None was passed

In [27]:
amount = []
var = []
for i in data:
    amount.append(price(i))
    var.append(variance(i))

In [32]:
amount[0].head(5)

        date   amount
0 2021-01-01  29359.9
1 2020-12-31  28949.4
2 2020-12-30  28868.7
3 2020-12-29  27376.0
4 2020-12-28  27057.8

In [31]:
var[0].head(5)

        date   var
0 2021-01-01  1.42
1 2020-12-31  0.28
2 2020-12-30  5.45
3 2020-12-29  1.18
4 2020-12-28  3.03

In [42]:
for i in amount:
    print('max: ', i.date.max(), '\t min: ', i.date.min())

max:  2021-01-01 00:00:00 	 min:  2015-01-01 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00
max:  2020-12-30 00:00:00 	 min:  2015-01-04 00:00:00
max:  2021-01-01 00:00:00 	 min:  2015-01-01 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-01 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00
max:  2020-12-31 00:00:00 	 min:  2015-01-04 00:00:00

         date_x  amount_x     date_y  amount_y
0    2021-01-01   29359.9 2020-12-31     55.50
1    2020-12-31   28949.4 2020-12-30     55.47
2    2020-12-30   28868.7 2020-12-29     54.33
3    2020-12-29   27376.0 2020-12-28     54.29
4    2020-12-28   27057.8 2020-12-24     54.79
5    2020-12-27   26261.3 2020-12-23     54.75
6    2020-12-26   26454.4 2020-12-22     54.67
7    2020-12-25   24689.6 2020-12-21     55.08
8    2020-12-24   23736.5 2020-12-18     55.66
9    2020-12-23   23257.9 2020-12-17     53.83
10   2020-12-22   23823.2 2020-12-16     53.83
11   2020-12-21   22728.5 2020-12-15     54.13
12   2020-12-20   23474.9 2020-12-14     53.06
13   2020-12-19   23844.0 2020-11-12     54.00
14   2020-12-18   23127.9 2020-10-12     54.43
15   2020-12-17   22825.4 2020-09-12     54.66
16   2020-12-16   21352.2 2020-08-12     54.55
17   2020-12-15   19434.9 2020-07-12     53.21
18   2020-12-14   19273.8 2020-04-12     55.05
19   2020-12-13   19176.8 2020-03-12     53.60
20   2020-12-12   18808.9 2020-02-12     53.20
21   2020-11-12   18023.6 2020-01-12     53.53
22   2020-10-12   18247.2 2020-11-30     53.01
23   2020-09-12   18546.0 2020-11-27     55.40
24   2020-08-12   18326.6 2020-11-25     56.43
25   2020-07-12   19170.7 2020-11-24     57.73
26   2020-06-12   19379.9 2020-11-23     55.94
27   2020-05-12   19146.5 2020-11-20     54.73
28   2020-04-12   18658.1 2020-11-19     55.34
29   2020-03-12   19433.3 2020-11-18     55.30
...         ...       ...        ...       ...
1095 2018-02-01   14754.1 2015-02-13     49.44
1096 2018-01-01   13444.9 2015-12-02     49.15
1097 2017-12-31   13850.4 2015-11-02     48.08
1098 2017-12-30   12531.5 2015-10-02     48.50
1099 2017-12-29   14392.6 2015-09-02     48.26
1100 2017-12-28   14398.7 2015-06-02     48.40
1101 2017-12-27   15416.6 2015-05-02     47.80
1102 2017-12-26   15756.6 2015-04-02     46.22
1103 2017-12-25   13833.5 2015-03-02     46.89
1104 2017-12-24   13790.0 2015-02-02     45.22
1105 2017-12-23   14396.5 2015-01-30     45.16
1106 2017-12-22   13665.0 2015-01-29     45.01
1107 2017-12-21   15632.1 2015-01-28     43.03
1108 2017-12-20   16462.0 2015-01-27     44.17
1109 2017-12-19   17523.7 2015-01-26     44.56
1110 2017-12-18   18972.3 2015-01-23     44.57
1111 2017-12-17   19065.7 2015-01-22     45.36
1112 2017-12-16   19345.5 2015-01-21     44.74
1113 2017-12-15   17604.8 2015-01-20     44.13
1114 2017-12-14   16467.9 2015-01-16     44.79
1115 2017-12-13   16286.8 2015-01-15     43.31
1116 2017-12-12   17083.9 2015-01-14     43.43
1117 2017-11-12   16732.5 2015-01-13     43.61
1118 2017-10-12   15059.6 2015-12-01     44.15
1119 2017-09-12   14843.4 2015-09-01     44.41
1120 2017-08-12   16047.6 2015-08-01     44.48
1121 2017-07-12   16850.3 2015-07-01     43.40
1122 2017-06-12   13749.6 2015-06-01     43.47
1123 2017-05-12   11667.1 2015-05-01     44.18
1124 2017-04-12   11623.9 2015-02-01     45.59

[1125 rows x 4 columns]