hay muchas mas variables en la fuente tanto economicas como de Blockchain:

https://www.quandl.com/data/BCHAIN-Blockchain

In [55]:
!pip install quandl

Requirement already satisfied: quandl in c:\programdata\anaconda3\lib\site-packages (3.5.3)
Requirement already satisfied: more-itertools in c:\programdata\anaconda3\lib\site-packages (from quandl) (8.4.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from quandl) (1.15.0)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from quandl) (2.8.1)
Requirement already satisfied: numpy>=1.8 in c:\programdata\anaconda3\lib\site-packages (from quandl) (1.18.5)
Requirement already satisfied: requests>=2.7.0 in c:\programdata\anaconda3\lib\site-packages (from quandl) (2.24.0)
Requirement already satisfied: pandas>=0.14 in c:\programdata\anaconda3\lib\site-packages (from quandl) (1.0.5)
Requirement already satisfied: inflection>=0.3.1 in c:\programdata\anaconda3\lib\site-packages (from quandl) (0.5.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.14->quandl) (2020.1)

In [56]:
import quandl
quandl.ApiConfig.api_key = "3ijtYGwN36sWrw_6xdMC"
start="2015-01-01"
end="2021-01-06"

In [59]:
#Total Bitcoins
quandl.get("BCHAIN/TOTBC", start_date=start,end_date=end)

                  Value
Date
2015-01-01  13674725.00
2015-01-02  13678725.00
2015-01-03  13682825.00
2015-01-04  13686975.00
2015-01-05  13691175.00
...                 ...
2021-01-02  18587687.50
2021-01-03  18588793.75
2021-01-04  18589668.75
2021-01-05  18590781.25
2021-01-06  18591875.00

[2197 rows x 1 columns]

In [60]:
#Bitcoin Market Price USD
quandl.get("BCHAIN/MKPRU", start_date=start,end_date=end)

               Value
Date
2015-01-01    315.70
2015-01-02    316.15
2015-01-03    302.33
2015-01-04    270.93
2015-01-05    276.80
...              ...
2021-01-02  28982.56
2021-01-03  29393.75
2021-01-04  32195.46
2021-01-05  33000.78
2021-01-06  32035.03

[2198 rows x 1 columns]

In [62]:
#Bitcoin Difficulty
quandl.get("BCHAIN/DIFF", start_date=start,end_date=end)

                   Value
Date
2015-01-01  4.064096e+10
2015-01-02  4.064096e+10
2015-01-03  4.064096e+10
2015-01-04  4.064096e+10
2015-01-05  4.064096e+10
...                  ...
2021-01-02  1.859959e+13
2021-01-03  1.859959e+13
2021-01-04  1.859959e+13
2021-01-05  1.859959e+13
2021-01-06  1.859959e+13

[2198 rows x 1 columns]

In [63]:
#Bitcoin Average Block Size
quandl.get("BCHAIN/AVBLS", start_date=start,end_date=end)

               Value
Date
2015-01-01  0.176213
2015-01-02  0.240704
2015-01-03  0.275661
2015-01-04  0.282322
2015-01-05  0.305495
...              ...
2021-01-02  1.352233
2021-01-03  1.395637
2021-01-04  1.288694
2021-01-05  1.318806
2021-01-06  1.292713

[2198 rows x 1 columns]

In [64]:
#Bitcoin Miners Revenue
quandl.get("BCHAIN/MIREV", start_date=start,end_date=end)

                   Value
Date
2015-01-01  1.312681e+06
2015-01-02  1.267762e+06
2015-01-03  1.242879e+06
2015-01-04  1.129778e+06
2015-01-05  1.166989e+06
...                  ...
2021-01-02  2.906805e+07
2021-01-03  3.190850e+07
2021-01-04  3.592236e+07
2021-01-05  3.975281e+07
2021-01-06  3.531478e+07

[2198 rows x 1 columns]

In [65]:
#Bitcoin Hash Rate
quandl.get("BCHAIN/HRATE", start_date=start,end_date=end)

                   Value
Date
2015-01-01  3.353653e+05
2015-01-02  3.232437e+05
2015-01-03  3.313247e+05
2015-01-04  3.353653e+05
2015-01-05  3.394058e+05
...                  ...
2021-01-02  1.377640e+08
2021-01-03  1.396132e+08
2021-01-04  1.460853e+08
2021-01-05  1.599542e+08
2021-01-06  1.451608e+08

[2198 rows x 1 columns]

In [66]:
#Bitcoin Cost % of Transaction Volume
quandl.get("BCHAIN/CPTRV", start_date=start,end_date=end)

               Value
Date
2015-01-01  5.244721
2015-01-02  4.477312
2015-01-03  2.277049
2015-01-04  1.376066
2015-01-05  1.863192
...              ...
2021-01-02  0.669276
2021-01-03  0.518649
2021-01-04  0.614294
2021-01-05  0.529815
2021-01-06  0.521220

[2198 rows x 1 columns]

In [67]:
#Bitcoin Number of Transaction per Block
quandl.get("BCHAIN/NTRBL", start_date=start,end_date=end)

                  Value
Date
2015-01-01   555.000000
2015-01-02   627.000000
2015-01-03   734.000000
2015-01-04   692.000000
2015-01-05   751.000000
...                 ...
2021-01-02  1732.080537
2021-01-03  1967.622517
2021-01-04  2272.886076
2021-01-05  2160.312139
2021-01-06  2255.356688

[2198 rows x 1 columns]

In [68]:
#Bitcoin Median Transaction Confirmation Time
quandl.get("BCHAIN/ATRCT", start_date=start,end_date=end)

                Value
Date
2015-01-01   7.150000
2015-01-02   6.933333
2015-01-03   6.433333
2015-01-04   8.033333
2015-01-05   6.816667
...               ...
2018-08-03  12.950000
2018-08-04   7.866667
2018-08-05   6.050000
2018-08-06   9.825000
2018-08-07  14.450000

[1315 rows x 1 columns]

In [69]:
#Bitcoin Mining Operating Margin
quandl.get("BCHAIN/MIOPM", start_date=start,end_date=end)

               Value
Date
2015-01-01  -59682.0
2015-01-02  -59563.0
2015-01-03  -62279.0
2015-01-04  -69360.0
2015-01-05  -67956.0
...              ...
2016-06-12 -140129.0
2016-06-13 -129434.0
2016-06-14 -131315.0
2016-06-15 -128340.0
2016-06-16 -119178.0

[533 rows x 1 columns]